HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
将删除 .gitignore
将删除 chat-common/pom.xml
将删除 chat-common/src/
将删除 chat-common/target/
将删除 chat-netty/pom.xml
将删除 chat-netty/src/
将删除 chat-netty/target/
将删除 chat/pom.xml
将删除 chat/src/
将删除 pom.xml
